<!-- home.handlebars -->
<main>
  <header>
    <div>
      <h1 class="logo"><a href="/">RAZA</a></h1>
    </div>
    {{#if currentUser}}
    <div class="form-login">
      Hi {{currentUser}} !

      {{else}}

      <div class="login-home">
        <form method="post" action="/search" class="search">
          <input type="text" name="term" placeholder="SEARCH" />
        </form>
        <a href="/login">LOG IN</a>
      </div>
    </div>
    {{/if}}
  </header>
  {{!--

  <hr class="dropdown-divider">


  </ul> --}}
  {{!-- <div>

  </div> --}}

  <section>
    {{!-- slider --}}
    <div id="splide" class="splide">
      <div class="splide__track">
        <div class="splide__list">
          <div class="splide__slide"><img src="/images/men.jpeg" alt="model men" /></div>
          <div class="splide__slide"><img src="/images/runway-fashion.jpg" alt="model women" /></div>
        </div>
      </div>
    </div>

  </section>

  {{! footer }}
  <footer>
    <div class="newsletter">
      <h3>SIGN UP FOR OUR NEWSLETTER</h3>
      <input placeholder="ENTER YOUR EMAIL HERE" />
    </div>
    <div>
      <ul>
        <li><a href="https://www.instagram.com/zara/" target="_blank" id="" class="">INSTAGRAM</a></li>
        <li><a href="https://www.facebook.com/Zara" target="_blank" id="" class="">FACEBOOK</a></li>
        <li><a href="https://twitter.com/zarausa" target="_blank" id="" class="">TWITTER</a></li>
      </ul>
    </div>

  </footer>
</main>