<main>
   <header>
      <div>
         <h1 class="logo"><a href="/">RAZA</a></h1>
      </div>
      <div class="form-login">
         <form method="post" action="/search" class="search">
            <input type="text" name="term" placeholder="SEARCH" />
         </form>
         <a href="#">HELP</a>
         <a class="dropdown-item" href="#">CART(0)</a>
      </div>
   </header>
   <div class="signup-row row">
      <div class="col-sm-4 col-sm-offset-4">
         <form action="/sign-up" method="post">
            <!-- USERNAME -->
            <div class="form-group">
               <p style="color: red;">{{message}}</p>
               {{!-- <label for="comment-title">Username</label><br> --}}
               <input class="form-control" id="username" type="text" name="username" placeholder="Username" />
            </div>
            <!-- PASSWORD -->
            <div class="form-group">
               {{!-- <label for="comment-content">Password</label><br> --}}
               <input class="form-control" id="password-content" type="password" name="password"
                  placeholder="Choose password" />
            </div>
            <!-- BUTTON -->
            <div class="form-group">
               <button class="btn btn-primary" type="submit">SignUp</button>
            </div>
         </form>
      </div>
   </div>
   {{! footer }}
   <footer>
      <div class="newsletter">
         <h3>SIGN UP FOR OUR NEWSLETTER</h3>
         <input placeholder="ENTER YOUR EMAIL HERE" />
      </div>
      <div>
         <ul>
            <li><a href="https://www.instagram.com/zara/" target="_blank" id="" class="">INSTAGRAM</a></li>
            <li><a href="https://www.facebook.com/Zara" target="_blank" id="" class="">FACEBOOK</a></li>
            <li><a href="https://twitter.com/zarausa" target="_blank" id="" class="">TWITTER</a></li>
         </ul>
      </div>

   </footer>
</main>